<div>
    <ul>
        <li><a href="/">Home</a></li>
        <% if (user == "customer" && log.isLogin == true) { %>
            <li><a href="/customer/rent">Rent</a></li>
            <li><a href="/customer/orders">Orders</a></li>
            <li><a href="/customer/">MyAccount</a></li>
        <% } %>
        <% if (user == "driver" && log.isLogin == true) { %>
            <li><a href="/driver/orders">Orders</a></li>
            <li><a href="/driver/">MyAccount</a></li>
        <% } %>
    </ul>
</div>