<div>
    <ul>
        <li><a href="/">Home</a></li>
        <% if (user == "customers") { %>
            <li><a href="/customers/orders">Orders</a></li>
        <% } %>
        <% if (user == "drivers") { %>
            <li><a href="/drivers/orders">Orders</a></li>
        <% } %>
        <li><a href="">MyAccount</a></li>
    </ul>
</div>