<div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rent">Rent</a></li>
        <li><a href="/order">Orders List</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>