<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sewa Mobil Cepat dan Terpercaya</title>
    <%- include('../partials/navbarcss.ejs')%>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <center>
        <h1 style="color:darkslategrey"> Are You a Driver or Customer?</h1>
        <a href="/driver/login"><input type="submit" value="DRIVER"></a>
        <a href="/customer/login"><input type="submit" value="CUSTOMER"></a>
    </center>
</body>
</html>