<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup: driver</title>
    <%- include('../partials/navbarcss.ejs')%>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <form action="/driver/register" method="POST">
        Username : <input type="text" name="name" placeholder="ex: novita123"><br>
        Password : <input type="password" name="password" placeholder="password"><br>
        Phone Number : <input type="text" name="phone_number" placeholder="ex: 08123456789"><br>
        Car Type : 
        <select name="car_type">
          <option value="suv">SUV</option>
          <option value="sedan">Sedan</option>
          <option value="jeep">Jeep</option>
        </select><BR>
        License Plate : <input type="text" name="license_plate" placeholder="ex: b1234b"><br>
        Driver License : <input type="text" name="driver_license" placeholder="ex: 111222333444555"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>