<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rent</title>
    <%- include('../partials/navbarcss.ejs')%>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <center>
        <form action="" method="POST">
            <h1>Rent</h1>
            <h3>Rent Date :</h3> <input type="date" name="order_date" id="">
            <input type="submit" value="Start Rent">
        </form>
    </center>
    <h1><%= message %></h1>
</body>
</html>