<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup: customer</title>
    <%- include('../partials/navbarcss.ejs')%>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <form action="/getdriver" method="POST">
        Phone Number : <input type="text" name="phone_number" placeholder="ex: 08123456789"><br>
        <input type="submit" value="Submit">
    </form>
    <table>
      <tr>
        <td></td>
      </tr>
    </table>
</body>
</html>